{erl_opts, [debug_info]}.

{deps, [
        {etweet, {git, "https://github.com/mentels/Erlang-Tweeter.git"}},
        {ecsv, {git, "https://github.com/rcouch/ecsv.git"}}
       ]}.

{plugins, [
           { rebar3_proper, ".*", {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.2.0"}}}
          ]}.

{profiles,
 [{test, [
          {deps, [
                  proper,
                  meck
                 ]}
         ]},
  {tweet_mock, [
                {erl_opts, [{d, 'TWEET_MOCK'}]}
               ]}
 ]}.

{relx, [
        {release, {"talks_tweeter", "0.0.1"}, [talks_tweeter]},
        {include_erts, false},
        {extended_start_script, true},
        {sys_config, "config/sys.config"}
       ]}.
