{erl_opts, [debug_info]}.

{deps, [
        {etweet, {git, "https://github.com/mentels/Erlang-Tweeter.git"}}
       ]}.

{plugins, [
           { rebar3_proper, ".*", {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.2.0"}}}
          ]}.

{profiles,
 [{test, [
          {deps, [
                  proper,
                  meck
                 ]}
         ]}
 ]}.
