[
  {talks_tweeter, [
                  {action_interval, {0,0,1}},
                  {time_window,     {0,0,3}}
  ]},
  {etweet, [
           {screen_name, "TO_FILL"},
           {consumer_key, "TO_FILL"},
           {consumer_secret, "TO_FILL"},
           {access_token, "TO_FILL"},
           {access_token_secret, "TO_FILL"}
          ]
 }].
